<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Greška</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>Dogodila se greška pri procesiranju Vašeg zahtjeva. Molimo pričekajte par trenutaka, i pokušajte ponovno.</h2>
    </hgroup>
</body>
</html>
