@{
    ViewBag.Title = "Početna stranica";
}

<div class="jumbotron">
    <h1>App-oteka</h1>
    <p class="lead">Dobro došli u aplikaciju App-oteka.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Početak s radom aplikacije</h2>
        <p>
            App-oteka je aplikacija namijenjena lakšem upravljanju ljekarni.
            Omogućuje korisnicima bolji pregled nad podacima i jednostavnije izmjene.
            Za sva dodatna pitanja molimo kontaktirajte nadležne osobe.
        </p>
    </div>
</div>